@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --font-color-1: white;
    --font-color-2: rgb(192, 192, 192);
    --font-color-3: white;
    --font-color-4: rgb(245, 245, 245);
    --background-color: #0E1726;
    --component-bg-color: rgba(255, 255, 255, 0.1);
}

/* GLOBAL STYLING */

input, textarea {
    background-color: var(--component-bg-color) !important;
    color: white;
}

a {
    text-decoration: none;
    color: var(--background-color);
}

#cc,
#history {
    scroll-margin-top: 60px;
}

div:not([class]) {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--background-color)
}

.box {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
    border-radius: 25px;
}

/* TEXT STYLING */

.txt-center {
    text-align: center;
}

.subdued-lt {
    color: var(--font-color-2)
}

.subdued-dk {
    color: var(--font-color-4)
}

input, textarea {
    border: none;
    padding: 5px;
    margin: 10px;
    font-family: 'Arial';
}

/* ANIMATIONS */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
