{% extends 'base.html' %}
{% block body %}
<div class="admin-main">
    <h2 class="admin-subheading">Edit character card</h2>

    <form method="POST" class="character-form">

        <input type="hidden" name="action" value="update_character">

        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" value="{{ content.name }}">
        </div>

        <div class="form-group">
            <label>Subheading</label>
            <input type="text" name="subheading" value="{{ content.subheading }}">
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea name="description" rows="8">{{ content.description }}</textarea>
        </div>

        <button class="button-submit" type="submit">
            Save Changes
        </button>

    </form>


    <h2 class="admin-subheading">Edit email autofill</h2>

    <form method="POST" class="character-form">

        <div class="form-group">
            <label>Subject</label>
            <input type="text" name="mail_subject" value="{{ content['mail_subject'] }}">
        </div>

        <div class="form-group">
            <label>Body</label>
            <textarea name="mail_body" rows="12">{{ content['mail_body'] }}</textarea>
        </div>

        <button class="button-submit" type="submit">
            Save Template
        </button>

    </form>

    <h2 class="admin-subheading">Create New Post</h2>

    <form method="POST">
        <div class="box post">
            <div class="post-who">
                <img src="/static/profilepic.jpg">
                <h2 style="color:black;">{{ content['name'] }}</h2>
            </div>
            <div class="new-post-text">
                <input type="text" name="title" placeholder="Post title" required>
                <textarea name="content" rows="10" placeholder="Write your post..." required></textarea>
            </div>
            <button class="button-submit" style="margin-left: auto;" type="submit">
                Post
            </button>
        </div>

    </form>



    <h2 class="admin-subheading">Users</h2>

    <div class="users-list">

        {% for user in users %}
        <div class="user-card">

            <div class="user-main">
                <div class="user-details">
                    <h3 class="user-name">{{ user['name'] }}
                    {% set body = content['mail_body'] %}
                    {% if user[5] == 1 %}
                     &nbsp-&nbsp&nbspVideo call
                     {% set title = content['video_mail_subject'] %}
                     {% set body = '' %}
                    {% endif %}
                    </h3>

                    <a class="user-email"
                        href="mailto:{{ user['email'] }}?subject={{ title }}&body={{ body }}">
                        {{ user['email'] }}
                    </a>
                </div>

                <div class="user-time">
                    {{ user['time'] }}
                </div>

                <div class="user-status">

                    {% if user['sent'] == 0 %}
                    <span class="status-pill status-unsent">
                        Unsent
                    </span>
                    {% else %}
                    <span class="status-pill status-sent">
                        Sent
                    </span>
                    {% endif %}

                    <a class="toggle-button" href="{{ url_for('toggle_sent', id=user['id']) }}">
                        Toggle
                    </a>

                </div>
            </div>

        </div>
        {% endfor %}

    </div>

</div>
<div class="logout-bar">
    <form action="{{ url_for('logout') }}" method="post">
        <button class="logout-button">Logout</button>
    </form>
</div>

{% endblock %}
