{% extends 'base.html' %}
{% block body %}
<div class="admin-main">
    <h2>Create New Post</h2>

    <form method="POST">
        <div class="box post">
            <div class="post-who">
                <img src="/static/profilepic.jpg">
                <h2 style="color:black;">{{ content['name'] }}</h2>
            </div>
            <div class="new-post-text">
                <input type="text" name="title" placeholder="Post title" required>
                <textarea name="content" rows="10" placeholder="Write your post..." required></textarea>
            </div>
            <button class="button-submit" style="margin-left: auto;" type="submit">
                Post
            </button>
        </div>

    </form>

    <hr>

    <h2>Edit character card</h2>

    <form method="POST">
        <input type="hidden" name="action" value="update_character">
        <div class="character-card box">

            <img class="cover-image" src="/static/banner.jpg">

            <div class="cc-content">
                <img class="profile-pic" src="/static/profilepic.jpg">

                <div class="cc-text-container">
                    <div class="cc-header" style="align-items:center;">
                        <input type="text" name="name" value="{{ content.name }}">
                        <input class="subdued-dk" type="text" name="subheading" value="{{ content.subheading }}">
                    </div>

                    <textarea class="cc-description" name="description" rows="5">{{ content.description }}</textarea>
                    <button class="button-submit" type="submit">
                        Update Homepage
                    </button>
                </div>

            </div>

        </div>

    </form>

    <hr>

    <h2>Users</h2>

    {% for user in users %}
    {{ user['name'] }}
    {{ user['email'] }}
    {{ user['time'] }}
    <a href="{{ url_for('toggle_sent', id=user['id']) }}">
        {% if user['sent'] == 0 %}
        unsent
        {% elif user['sent'] == 1 %}
        sent
        {% endif %}
    </a>
    <br>
    {% endfor %}

</div>
{% endblock %}