{% extends 'base.html' %}

{% block body %}
<div class="box contact">
    <div style="display:flex; align-items:center; justify-content: center;">
        <h1 class="fa-brands fa-wpforms"></h1>
        <h1>&nbsp Admin login</h1>
    </div>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required maxlength="20">

        <input type="password" name="password" placeholder="Password" required maxlength="20">

        <button class="button-submit" type="submit">Login</button>
    </form>
</div>

{% endblock %}